extends layout

block title
  title #{title}

block content
  p #{err}
  form(method="POST", action="/stores")
    p
      label(for="storename") Name:   
        input(type='text', name='storename', value='', required)
    p
      label(for="desc") Description:
        input(type='text', name='desc', value='')
    p
      label(for="add") Address:
        input(type='text', name='add', value='', required)
    p
      label(for="city") City:
        input(type='text', name='city', value='')
    p
      label(for="state") State:
        input(type='text', name='state', value='')
    p
      label(for="country") Country:
        input(type='text', name='country', value='')
    p
      label(for="zipcode") Zip Code:
        input(type='text', name='zipcode', value='')
    p
      input(type='submit', value='Add Store')
